// Custom styles.
@import "cascadia";
@import "gist-dark";

.post-button {
  .btn {
    padding: 6px 20px;
  }
}

.posts-expand .post-title-link {
  color: $grey-lighter;
}

.highlight {
  border-radius: 1px;
}
